<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<h1>{{title}}</h1>
<p>Welcome to My New {{title}} Site</p>
<div class="container" id="outside">
    <div class="ui animated button" id="homepagebutton">
        <!–– animated button; button dimensions; css identifier for button ––>
        <div class="visible content" id="buttontext" onclick="toLists()" >Need a bathroom? </div>
        <div class="hidden content"> You're in the right place!</div>
        
          
    </div> 
    <button>
            "Hiiiiii"
        </button>
</div>

<br>
<!–– Note: right arrow icon i class="You're in the right" /i ––>