<h1>{{title}}</h1>
<p>Welcome to My New {{title}} Site</p>

<body>
    <div id="picture1">
        <img src= img/picture1.gif width="350px" height="260px" />
    </div>
    <div id="picture2">
        <img src= img/picture2.gif width="350px" height="260px" />
    </div>
    <div id="picture3">
        <img src= img/picture3.gif width="350px" height="260px" />
    </div>
    <div id="picture4">
        <img src= img/picture4.gif width="350px" height="260px" />
    </div>

</body>