<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<h1>{{title}}</h1>
<p>Welcome to My New {{title}} Site</p>
<div class="container" id="outside">
    <div class="ui animated button" id="homepagebutton">
        <!–– animated button; button dimensions; css identifier for button ––>
        <div class="visible content" id="buttontext" onclick="toLists()" >Need a bathroom? </div>
        <div class="hidden content"> You're in the right place!</div>
        
          
    </div> 
    <button>
            "Hiiiiii"
        </button>
</div>



<body>
    <div id="picture1">
        <img src= img/picture1.gif width="350px" height="260px" />
    </div>
    <div id="picture2">
        <img src= img/picture2.gif width="350px" height="260px" />
    </div>
    <div id="picture3">
        <img src= img/picture3.gif width="350px" height="260px" />
    </div>
    <div id="picture4">
        <img src= img/picture4.gif width="350px" height="260px" />
    </div>

</body>

