<body>
    <div class="ui segment">
        <h1 class="ui right floated header">City Picker</h2><br>
            <div class="ui clearing divider"></div>
            <div class="ui inverted menu">
                <a class="item" href= "http://localhost:3000/list">
                    All
                </a>
                <a class="item" href="http://localhost:3000/listw">
                    West coast
                </a>
                <a class="item"href="http://localhost:3000/liste">
                    East Coast
                </a>
                <a class="item"href="http://localhost:3000/lista">
                    Alphabetical Order
                </a>

            </div>
            <h4>Where are you?</h4>
            <div class="ui list">
                <div class="item">
                    <i class="map marker alternate icon"></i>
                    <div class="content">
                        <a class="header" href="http://localhost:3000/map/sf">San Francisco, California</a>
                        <div class="description"> </div>
                    </div>
                </div>
                <div class="item">
                    <i class="map marker alternate icon"></i>
                    <div class="content">
                        <a class="header" href="http://localhost:3000/map/la">Los Angeles, California</a>
                        <div class="description"> </div>
                    </div>
                </div>
                <div class="item">
                    <i class="map marker alternate icon"></i>
                    <div class="content">
                        <a class="header" href="http://localhost:3000/map/hou">Houston, Texas</a>
                        <div class="description"> </div>
                    </div>
                </div>
                <div class="item">
                    <i class="map marker alternate icon"></i>
                    <div class="content">
                        <a class="header" href="http://localhost:3000/map/sea">Seattle, Washington</a>
                        <div class="description"> </div>
                    </div>
                </div>
            </div>
            <p> Sorry if we don't have your city! We are currently adding more!</p>
    </div>

    <iframe width="100%" height="0" scrolling="no" frameborder="no" allow="autoplay" background="transparent"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/271649151&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>