body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#picture1 { position: absolute; left: 20px; top: 300px;
} 

#picture2 { position: absolute; right: 20px; top: 300px;
} 

#picture3 { position: absolute; left: 20px; bottom: 300px;
} 

#picture4 { position: absolute; right: 20px; bottom: 300px;
} 